EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyBWiPgaDl1MZYG1Cgt6CbDH9Rh9T8rnsZ8
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=hub-games-out.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=hub-games-out
EXPO_PUBLIC_FIREBASE_APP_ID=1:857732013460:web:735f25bce69f55d3cb4381
EXPO_PUBLIC_FIREBASE_DATABASE_URL=https://hub-games-out-default-rtdb.firebaseio.com
